*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    height: 80px;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;

   
}

main{
    min-height: calc(100vh - 80px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:20px;
    padding-top: 20px;
    background: linear-gradient(to right top,rgb(129, 83, 129),rgb(30, 29, 29));
}

main > .card{
    height: 250px;
    width: 350px;
    box-shadow: 0px 5px 15px black;
    /* background-color: white; */
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    transition: all 0.6s ease-in;
}

main > .card:hover{
   transform: scale(1.04);
}

.card > img{
    height: 150px;
    border-radius: 50%;
}